.italic{
  font-style:italic;
}
.wikiImg{
  height:200px;
}
p{
  font-family: 'Mukta Mahee', sans-serif;
}
body{
  font-family:lobster;
  background-color:#8946aa;
  color:white;
}
input[type=text] {
    background-image: url("http://i63.tinypic.com/24nk31j.jpg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 150px;
    border-radius:5px;
    padding: 8px 15px 8px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
button{
  padding:10px;
  background-color:#8946aa;
  color:white;
  cursor:pointer;
  border-radius:3px;
}
button:hover{
  background-color:#5d2368;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 30%;
}

li{
  
  list-style-type: none;
  background-color:#5d2368;
}
#searchInfo{
  margin-top:40px;
}
#search{
  width:100px;
  padding:8px;
  margin-bottom:5px;
  cursor:pointer;
}
li:hover{
  background-color:#b738d1;
}
a{
  color:white;
  text-decoration:none;
}
a:hover{
  color:white;
  text-decoration:underline;
}
a:link:{
  text-decoration:none;
}
a:visited{
  text-decoration:none;
}